body {
  max-width: 95%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  margin: auto;
  background-color: white;
}

li {
  list-style: none;
  margin: 1rem;
  font-size: 1.6rem;
  
}
.get {
  color: black;
 
  
  text-shadow: 0 1rem 2rem rgba(176, 155, 113, 0.8);
}
.pic-res {
  max-width: 33%;
  height: auto;
}
.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 60%;
  opacity: 1;
}
.navigation__label{
  height: 6rem;
  width: 6rem;
  background-image: radial-gradient(rgba(176, 155, 113, 1), rgba(71, 45, 45, 0.8));
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 1500;
  text-align: center;
}
.navigation__icon {
  position: relative;
  margin-top: 3rem;
}
.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  width:3rem;
  height: 2px;
  background-color: black;
  display: inline-block;  
  
}
.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  transition: all .2s;
}
.navigation__icon::before{
  left: 0;
  top: -.8rem
}
.navigation__icon::after{
  left: 0;
  top: .8rem
}

.navigation__label:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__label:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__label .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__nav { 
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-image: radial-gradient(rgba(216, 204, 163, 1), rgba(176, 155, 113, 1));
  z-index: 900;
  opacity: 0; 
  display: inline-block;
  transition: all .8s;
}


.navigation__list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 300;
  display: inline-block;
  color: black;
  margin: 2rem ;
  padding: .2rem .6rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50% ) ;
  background-size: 150%;
  text-align: center;
  text-transform: uppercase;
  transition: all .4s;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.navigation__list:hover,
.navigation__list:active{
  background-position: 100%;
  color: black;
  transform: translateX(1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.header {
  max-width: 100%;
  margin: auto;
  height: 350px;
  background-image: linear-gradient(to right, rgba(216, 204, 163, 0.8), rgba(176, 155, 113, 0.8)), url(header-pic.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: relative;
  }
  .header__logo {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
    margin-bottom: 15px; }
    .header__logo-pics {
      height: 40px;
     }
    
  .header__company {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__company-name {
      font-weight: 700;
      font-size: 60px;
      letter-spacing: 10px;
      animation-name: header__companyName;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    
  .header__slogan {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 6px;
    animation-name: slogan;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
   
.birthday {
  max-width: 100%;
  margin: auto; }

.lifestyle {
  max-width: 100%;
  margin: auto; }

.wedding {
  max-width: 100%;
  margin: auto; 
  display: inline;
}

.kids {
  max-width: 100%;
  margin: auto; }

.family {
  max-width: 100%;
  margin: auto; }

.btn-div {
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px; }
  .btn-div__btn {
    color: white;
    background-color: #472D2D;
    padding: 10px 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  }
    .btn-div__btn:hover {
      background-color: #180f0f;
      transform: translateY(-2px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .btn-div__btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.lifestyle-pics {
  max-width: 100%;
  margin: auto; }
  .lifestyle-pics__photo {
    width: 49.5%;
  }

.birthday-pics {
  max-width: 100%;
  margin: auto; }
  .birthday-pics__photo {
    width: 49.5%; 
  }

.wedding-pics {
  max-width: 100%;
  margin: auto; }
  .wedding-pics__photo {
    width: 49.5%; 
  }

.kids-pics {
  max-width: 100%;
  margin: auto; }
  .kids-pics__photo{
    width: 49.5%;
  }


.family-pics {
  max-width: 100%;
  margin: auto; }
  .family-pics__photo {
    width: 49.5%; 

  }
    .last-section{
      background-color: white;
      display: inline-block;
    }
    .slogan-secondary-div {
      text-align: center;
     
    }
    .slogan-secondary-div__text {
      font-size: 2.5rem;
      display: inline-block;
      text-transform: uppercase;
      background-image: linear-gradient(to right, #d8cca3cc, #b09b71cc ); 
      -webkit-background-clip: text;
      color: transparent;
      transition: all .2s;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      
    }
    
    .slogan-secondary-div__text:hover,
    .slogan-secondary-div__text:active {
      transform: skewY(2deg) skewX(2deg);
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  
    }
   
   .row {
    max-width: 100%;
    margin: auto; 
    }
  

    .col-1-of-2 {
      width: 60%;
      margin: auto;
    }
 
    .asaba-photography{
      font-size: 1.85rem;
      margin-bottom: 2rem;
      color:  #b09b71cc ;
    }
    p {
      color: black;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.3;
    }
    .col-2{
      position: relative;

    }
   
    .pics {
      margin-top: 2rem;
      margin-bottom: 3.5rem;
      width: 55%;
      height: auto;
      box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      z-index: 10;
      transition: all .01s;
      outline-offset: 1rem;
    }
    .pics:hover {
      outline: .3rem solid rgba(176, 155, 113, 0.9);
      box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.4);
      transform: scale(1.05);
      z-index: 20;
    }
    .p-1 {
      position: absolute;
      left: 0.3rem;
      top: 0;
    }
    .p-2 {
      position: absolute;
      right: 0.3rem;
      top: 2rem;
    }

    img {
      border-radius: .4rem;
      transition: all .1s;
      z-index: 10;
      outline-offset: .5rem;
    }
    img:active {
      transform: scale(1.05);
      z-index: 20;
      border-radius: 20px;
      outline: .5rem solid #d8cca3cc;
    }
 
    .menu {
      margin: 3.5rem auto;
      max-width: 50%; 
      text-align: center; 
    }
    h4 {
      font-size: 1.85rem;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
    a {
      text-decoration: none;
      color: black;
      
    }
    .portfolio {
      display: inline-block;
      padding: .5rem 1rem;
      transition: all .2sec;
      border-radius: 20px;
      background-image: linear-gradient(120deg,  #b09b71cc 0%,  #b09b71cc 50%, white 50% ) ;
      background-size: 150%;
      text-align: center;
      text-transform: uppercase;
      transition: all .4s;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
      
    }
    .last-p {
      margin-top: 1.5rem;
      text-shadow:0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
    .portfolio:hover,
    .portfolio:active {
      background-position: 100%;
      color: black;
      transform: translateX(1rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4)
    }
    .contact-me {
      margin: 3.5rem auto;
      max-width: 100%; 
      text-align: center; 
      margin-bottom: 5rem;
      background-image:linear-gradient(to right, rgba(216, 204, 163, 0.8), rgba(176, 155, 113, 0.8)), url(header-pic.jpeg); ;
      background-size: 100%;
      padding-bottom: 5rem;
      padding-top: 5rem;
      transform: skewX(5deg) skewY(3deg);
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
    }
    .contact-me__div {
      margin: auto;
      max-width: 50%;
      
    }
    .get-div {
      transform: skewX(-5deg) skewY(-3deg);
    }
    .ig-link {
      text-decoration: underline;
      color: darkblue;
    }
    .ig-link:hover {
      color: black;
    }
    .contact-me__text {
      display: inline-block;
      font-size: 1.8rem;
    }
    .get-in-touch {
      display: inline-block;
      font-size: 2rem;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
    .link-ig {
      font-size: 1.3rem;
      color: black;
      margin-bottom: 2rem;
      padding: .2rem  .8rem;
      border-radius: 10px;
      background-color:  #b09b71cc;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }
    .link-ig:hover {
      padding:0.2rem 1rem ;
      background-color: #472D2D;
      border-radius: 10px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);

    }
    .shutter-ig {
      width: 100%;
      border-radius: 5px ;
      margin-top: 3rem;
      transition: all .2s;
      outline:0.3rem solid  rgba(176, 155, 113, 0.9);
      transform: scale(1.02) ;
    }
    .shutter-ig:hover {
      transform: scale(1.03);
       
    }

    .copyright{
      text-align: center;
      background-image: linear-gradient(to right, rgba(216, 204, 163, 0.8), rgba(176, 155, 113, 0.8) );
      padding-bottom: 1rem;
      
    }
    .copyright__text {
      display: inline-block;
      color: black;
    }
   #book {
    color: black;
    font-weight: bold;
   }

   .form-section {
      text-align: center;
      background-image:  radial-gradient(rgba(216, 204, 163, 1), rgba(176, 155, 113, 1)); ;
   }
   form {
    display: inline-block;
    width: 80%;
    padding: 2rem;
    margin: auto;
   }
   .form-label {
    display: inline-block;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
   }
  .form-input {
    display: inline-block;
    margin-bottom: 2rem;
    background-color: white;
    border: 0;
    font-size: 1.2rem;
    border-radius: 5px;
    width:43% ;
    padding: .5rem 1.5rem;
    
  }
  .form-button {
    margin-top: 1.5rem;
    background-image: linear-gradient(120deg,  #b09b71cc 0%,  #b09b71cc 50%, white 50% );
    background-size: 150%;
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
 
    footer {
      margin-top: 10rem;
      max-width: 100%;
    }
    #hidden {
      animation-name: header__companyName;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
@keyframes header__companyName {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 0.5;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slogan {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 0.5;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
